body {
  font-family: sans-serif;
  background: url("../images/food.jpg");
  font-size: 14px;
}
body a {
  color: #000049;
}
body a.button,
body button.button,
body input.button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: .5em;
  background: #008080;
  color: white;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}
body .actions:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
body .actions a {
  float: left;
  margin-right: 2em;
}
body .actions a.right {
  float: right;
  margin-right: 0;
}
body .actions a.last {
  margin-right: 0;
}
body .message {
  background: #e0332d;
  border-radius: 5px;
  color: white;
  padding: 1em;
  font-size: 1.2em;
}
#container {
  max-width: 500px;
  margin: 1em auto;
  background: white;
  border: 1px solid silver;
  border-radius: 15px;
  padding: 1em;
  overflow: hidden;
}
#title-bar {
  background: #b0a567;
  text-align: center;
  margin: -1em;
  margin-bottom: 10px;
  color: white;
  padding: .3em;
  padding-top: 1em;
  font-size: 2em;
}
#title-bar a {
  color: white;
  text-decoration: none;
}
#action-bar {
  background: #b0a567;
  text-align: center;
  margin: -1em;
  margin-top: 20px;
  color: white;
  padding: .5em;
}
#action-bar a {
  color: white;
  font-size: 1.3em;
  margin: 0 .7em;
  text-decoration: none;
}
.date .week-day {
  font-size: 1.7em;
}
.date .full-date {
  font-size: 1em;
  color: gray;
}
#week-planning .week-date {
  border-bottom: 1px dotted silver;
  padding: 1em .5em;
}
#week-planning .week-date.today {
  background: #def0fa;
}
#week-planning .week-date.weekend {
  background: #F8F8F8;
}
#week-planning .week-date img.dish-picture {
  float: right;
  margin-left: 1em;
  border: 1px solid cadetblue;
  border-radius: 3px;
}
#week-planning .week-date img.dish-link,
#week-planning .week-date img.toggle-notes {
  float: right;
  margin-left: 1em;
  cursor: pointer;
}
#week-planning .week-date .planned-dish {
  margin: .3em 0;
  font-size: 1.5em;
  color: #1c882e;
}
#week-planning .week-date .no-planned-dish {
  margin: .3em 0;
  font-size: 1.5em;
  color: #cbcdc4;
}
#week-planning .week-date .actions a {
  margin-right: 1em;
}
#week-planning .week-date .actions .make-suggestion {
  float: left;
  margin-right: 1em;
}
#week-planning .week-date .actions .make-suggestion .preparation-time {
  float: left;
  margin-right: .5em;
  margin-top: .4em;
}
#week-planning .week-date .more-planning-actions,
#week-planning .week-date .dish-notes {
  border-top: 1px dashed silver;
  margin-top: 1em;
  padding: 1em;
}
#week-planning .week-date .more-planning-actions form.add-picture-to-planned-dish {
  margin-bottom: 1em;
}
#week-planning .week-navigation {
  margin-top: 2em;
}
form .form-row {
  margin-bottom: 1em;
}
form .form-row label {
  display: block;
}
#dishes-list {
  margin-top: 1em;
}
#dishes-list #search {
  font-size: 1.5em;
  width: 150px;
}
#dishes-list a.create-new {
  font-size: 1.5em;
  margin-bottom: 1em;
}
#dishes-list .dish {
  margin-bottom: .5em;
  font-size: 1.3em;
}
#dishes-list .dish img.dish-picture {
  float: right;
  margin-left: 1em;
  border: 1px solid cadetblue;
  border-radius: 4px;
}
#dishes-list .dish img.dish-link {
  float: right;
  margin-left: 1em;
}
.preparation-time input {
  float: left;
  margin-right: .5em;
}
.preparation-time .stars {
  float: left;
}
.preparation-time:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#dish-form input.dish-name,
#dish-form input.url {
  width: 90%;
}
#dish-form div.dish-picture {
  padding: .5em;
  background: #EEE;
  margin: 1em 0;
}
#dish-form div.dish-picture img {
  display: block;
  margin-bottom: .5em;
}
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
