body {
    font-family: sans-serif;
}

form {
    .form-row {
        margin-bottom: 1em;

        label {
            display: block;
        }
    }
}


#dishes-list {
    .dish {
        margin-bottom: .5em;
    }
}